<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head :: head-section "></head>
    <nav th:replace="partials/navbar :: navbar"></nav>
</head>
<body>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#tab1">View Profile</a> </li>
            <li class="tab col s3>"><a href="#tab2">Prescriptions</a> </li>
            <li class="tab col s3>"><a href="#tab3">Fill Requests</a> </li>

        </ul>
    </div>

<!--    <h4 th:text  th:value="" th:object="${users}">Welcome ,<p th:field="*{getEmail}"></p> </h4>-->
    <div id="tab1" class="col s12">Your profile information below:

        <ul class="collection">
            <li class="collection-item avatar">
                <span class="title">Name</span>
                <p th:text="${user.fullName}"></p>
                <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Title</span>
                <p>First Line
                </p>
                <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">Email Address</span>
                <p th:text="${user.email}"></p>
                <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Title</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>

    </div>


    <div id="tab2" class="col s12">
        <div>
            <table class="highlight">
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Verified</th>
                    <th>Patient</th>
                    <th>Doctor</th>
                </tr>
                <tr th:each="prescription : ${prescriptions}" class="prescription" th:href="@{/prescription/{id}(id=${prescription.id})}">
                    <td th:text="${prescription.drug.drug_name}"></td>
                    <td th:text="${prescription.created_at}">"</td>
                    <td th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></td>
                    <td th:text="${prescription.patient.fullName}"></td>
                    <td th:text="${prescription.doctor.fullName}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="tab3" class="col s12">
        <div>
            <table class="highlight">
                <tr>
                    <th>Patient</th>
                    <th>Prescription</th>
                    <th>Created At</th>
                    <th>Patient</th>
                    <th>View Prescription</th>
                </tr>
                <tr th:each="request : ${requests}" class="requests">
                    <td th:text="${request.patient.fullName}"></td>
                    <td th:text="${request.prescription.drug.drug_name}"></td>
                    <td th:text="${request.created_at}"></td>
                    <td th:text="${request.note}"></td>
                    <td><a class="pRequest waves-effect waves-light btn" th:href="@{/prescription/{id}(id=${request.prescription.id})}">View Prescription</a></td>
                </tr>
            </table>
        </div>
    </div>

</div>


<div th:replace="partials/scripts :: scripts"></div>
<script>
    $(document).ready(function(){
        $('.prescription').click(function(){
            window.location = $(this).attr('href');
            return false;
        });
    });
</script>

</body>
</html>