<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head-section ">
    <title>Welcome </title>

</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#info">View Profile</a></li>
            <li class="tab col s3>"><a href="#prescriptions">Prescriptions</a></li>
            <li class="tab col s3>"><a href="#fillReq">Fill Requests</a></li>
        </ul>
    </div>

    <div id="info" class="col s12">
        <h5 class="white-text">Your profile information</h5>

        <ul class="collection">
            <li class="collection-item avatar">
                <span class="title">Name</span>
                <i class="material-icons circle black">badge</i>
                <p th:text="${user.fullName}" class="blue-text"></p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle green">email</i>
                <span class="title">Email Address</span>
                <p th:text="${user.email}" class="blue-text"></p>
            </li>
        </ul>
        <a th:href="@{/pharmacistProfile/{id}/edit(id=${user.getId()})}" class="btn orange  waves-effect waves-light">Edit profile</a>

    </div>


    <div id="prescriptions" class="col s12">
        <h5 class="white-text">Your prescriptions </h5>

        <div>
            <table class="highlight centered responsive-table">
                <tr class=" white-text">
                    <th class="center-align">NAME</th>
                    <th class="center-align">CREATED AT</th>
                    <th class="center-align">VERIFIED</th>
                    <th class="center-align">PATIENT</th>
                    <th class="center-align">DOCTOR</th>
                </tr>
                <tr th:each="prescription : ${prescriptions}" class="prescription orange-text"
                    th:href="@{/prescription/{id}(id=${prescription.id})}">
                    <td th:text="${prescription.drug.drug_name}"></td>
                    <td th:text="${prescription.created_at}">"</td>
                    <td th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></td>
                    <td th:text="${prescription.patient.fullName}"></td>
                    <td th:text="${prescription.doctor.fullName}"></td>
                </tr>
            </table>

        </div>
    </div>

    <div id="fillReq" class="col s12">
        <h5 class="white-text">Incoming fill Requests: </h5>

        <div>
            <table class="highlight centered responsive-table">
                <tr class="white-text" style>
                    <th class="center-align">PATIENT</th>
                    <th class="center-align">PRESCRIPTION</th>
                    <th class="center-align">CREATED AT</th>
                    <th class="center-align">PATIENT NAME</th>
                    <th class="center-align">VIEW PRESCRIPTION</th>
                </tr>
                <tr th:each="request : ${requests}" class="requests">
                    <td th:text="${request.patient.fullName}"></td>
                    <td th:text="${request.prescription.drug.drug_name}"></td>
                    <td th:text="${request.created_at}"></td>
                    <td th:text="${request.note}"></td>
                    <td><a class="pRequest waves-effect waves-light btn"
                           th:href="@{/prescription/{id}(id=${request.prescription.id})}">View Prescription</a></td>
                </tr>
            </table>
        </div>
    </div>

</div>


<div th:replace="partials/scripts :: scripts"></div>
<script>
    $(document).ready(function () {
        $('.prescription').click(function () {
            window.location = $(this).attr('href');
            return false;
        });
    });
</script>

</body>
</html>
<!--BUFFER CODE-->

<!--    <h4 th:text  th:value="" th:object="${users}">Welcome ,<p th:field="*{getEmail}"></p> </h4>-->
<!--        <label for="verfifiedOnly"></label>-->
<!--        <input type="checkbox" name="verfifiedOnly" id="verfifiedOnly" value="">-->
