<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section "></head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#tab1">Doctor Info</a> </li>
            <li class="tab col s3>"><a href="#tab2">Messages</a> </li>
            <li class="tab col s3>"><a href="#tab3">Your Prescriptions</a> </li>
        </ul>
    </div>
    <div id="tab1" class="col s12">
        <h1 th:text="${doctor.fullName}"></h1>
        <h3 th:text="${doctor.username}"></h3>
        <br>
        <p th:text="${doctor.email}" ></p>
<!--        <p th:text="${doctor.prescriberInfo}" ></p>-->
<!--        <p th:text="${doctor.}" ></p>-->

    </div>
    <div id="tab2" class="col s12">
        New messages will go here
    </div>
    <div id="tab3" class="col s12">
        <div th:each="prescription : ${prescriptions}">
            <table class="striped">
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Verified</th>
                    <th>Patient</th>
                </tr>
                <tr>
                    <td th:text="${prescription.drug.drug_name}">"</td>
                    <td th:text="${prescription.created_at}">"</td>
                    <td th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></td>
                    <td th:text="${prescription.patient.fullName}"></td>
                </tr>
            </table>

        </div>
    </div>

</div>





<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>