

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section"></head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>

<div class="valign-wrapper row">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form th:action="@{/patientProfile/{id}/edit(id=${user.id})}" th:method="POST" th:object="${user}" >
            <div class="card-content #757575">
                <span class="card-title">Patient Info</span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="full_name">Full Name</label>
                        <input th:field="*{fullName}"  type="text" class="text" name="full_name" id="full_name" />
                    </div>
                    <div class="input-field col s12">
                        <label for="email">Email address</label>
                        <input th:field="*{email}"  type="email" class="text" name="email" id="email" />
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                <input type="submit" class="btn orange  waves-effect waves-light" value="Submit">
            </div>
        </form>
    </div>
</div>


<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>
