<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<div>
    <form th:action="@{/patientProfile/{id}/edit(id=${patient.id})}" th:method="post">
        <div>
            <label for="editUsername">Edit Username
                <input type="text"  id="editUsername" class="validate" th:value="${patient.username}"/>
            </label>
        </div>
        <div>
            <label for="editAddress">Edit Address
                <input type="text" id="editAddress"  th:value="${patientInfo.address}"/>
            </label>
        </div>
        <div>
            <label for="editDob"> Edit Date of Birth
                <input type="text" id="editDob"  th:value="${patientInfo.dob}"/>
            </label>
        </div>
        <div class="card-action right-align">
        <input type="submit" class="btn orange  waves-effect waves-light" value="Submit" >
        </div>
    </form>


</div>

</body>
</html>
