<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<nav th:replace="partials/navbar :: navbar"></nav>
<head th:replace="partials/head :: head-section ">
    <title>Profile Page</title>
</head>
<body>
<div id="request-message" th:if="${requestMessage} != null" th:text="${requestMessage}" style="display: none"></div>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#info">Patient Information</a></li>
            <li class="tab col s3>"><a href="#message">Messages</a></li>
            <li class="tab col s3>"><a href="#prescrip">Your Prescriptions</a></li>
        </ul>
    </div>

    <div id="info" class="col s12">Edit your profile information

        <ul class="collection">
            <li class="collection-item avatar">
                <span class="title">Name</span>
                <i class="material-icons circle green">badge</i>
                <p th:value="${patient.username}" th:name="username" th:text="${patient.username}"></p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">home</i>
                <span class="title">Address</span>
                <p th:value="${patientInfo.address}" th:name="address" th:text="${patientInfo.address}">
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">cake</i>
                <span class="title">Date of Birth</span>
                <p  th:value="${patientInfo.dob}" th:name="dob" th:text="${patientInfo.dob}"></p>
            </li>
        </ul>
        <input type="submit" class="btn orange  waves-effect waves-light" value="Edit Profile" id="edit">
    </div>

    <div id="message" class="col s12 white-text"> Message your Pharmacist !
        <hr>
        <form th:action="@{|/patientProfile/${patient.id}|}" th:method="POST">
            <div class="container">
                <div class="row">
                    <div class="input-field col s12">
                        <span class="material-icons circle green ">app_registration</span>
                      <label>
                          <input placeholder="Subject" id="subject" type="text" class="required white-text"/>
                      </label>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="input-field col s12">
                        <label><textarea id="msg" class="materialize-textarea white-text" placeholder="Your message here"></textarea></label>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                <input type="submit" class="btn orange  waves-effect waves-light" value="Submit">
            </div>
        </form>
    </div>



    <div id="prescrip" class="col s12">
        <div th:each="prescription : ${patient.prescriptions}">
            <div class="container white-text">
                <table class="striped">
                    <tr class="black-text">
                        <th>Name</th>
                        <th>Created at</th>
                        <th>Verified</th>
                        <th>Doctor</th>
                        <th>View Requests</th>
                    </tr>
                    <tr>
                        <td th:text="${prescription.drug.drug_name}">"</td>
                        <td th:text="${prescription.created_at}">"</td>
                        <td th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></td>
                        <td th:text="${prescription.doctor.fullName}"></td>
                        <td><a class="pRequest waves-effect waves-light btn" th:href="@{/prescription-request/{id}(id=${prescription.id})}">Request Fill</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<!--    <button data-target="modal1" class="btn modal-trigger">Modal</button>-->
<!--        &lt;!&ndash; Modal Structure &ndash;&gt;-->
<!--        <div id="modal1" class="modal">-->
<!--            <div class="modal-content">-->
<!--                <h4>Prescription Fill Request</h4>-->
<!--                <div class="row">-->
<!--                    <form class="col s12">-->
<!--                        <div class="row modal-form-row">-->
<!--                            <div class= "input-field col s12">-->
<!--                                    <textarea id="note" name="note" class="materialize-textarea"></textarea>-->
<!--                                    <label for="note">Leave A Note</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                 </div>-->
<!--        </div>-->
<!--            <div class="modal-footer">-->
<!--                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
<!--            </div>-->
<!--        </div>-->
</div>

<div th:replace="partials/scripts :: scripts"></div>
<script>
    $(document).ready(function(){
        let msg = $("#request-message").text();

        if(msg.length){
            alert(msg)
        }
    })
</script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
</body>
</html>
