<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<nav th:replace="partials/navbar :: navbar"></nav>
<head th:replace="partials/head :: head-section ">
    <title>Profile Page</title>
</head>
<body>
<div id="request-message" th:if="${requestMessage} != null" th:text="${requestMessage}" style="display: none"></div>

<div class="container">
    <div class="profile-card">
        <div class="row">
            <div class="col s12 info">
                <div class="card horizontal rounded">
                    <div class="card-stacked">
                        <div class="profile-info">
                            <div class="card-image">
                                <h2><i class="material-icons profile-icon" style="font-size:200px">group</i></h2>
                            </div>
                            <div class="card-content">
                                <h4 class="user-full" th:text="${patient.fullName} + ' - ' + Patient"></h4>
                                <h5 th:text="${patient.username}"></h5>
                                <div class="user-info">
                                    <div>
                                        <h6 th:text="Phone + ': ' + ${patient.phone_number}"></h6>
                                        <h6 th:text="Email + ': ' + ${patient.email}"></h6>
                                    </div>
                                    <div>
                                        <h6 th:text="Address + ': ' + ${patientInfo.address}"></h6>
                                        <h6>
                                            <span th:if="${patientInfo.sex} == 'M'" th:text="Sex + ': ' + Male"></span>
                                            <span th:unless="${patientInfo.sex} == 'M'" th:text="Sex + ': ' + Female"></span>
                                        </h6>
                                    </div>
                                    <div>
                                        <h6 th:text="DOB + ': ' + ${#dates.format(patientInfo.dob, 'dd-MMM-yyyy')}"></h6>
                                        <h6 th:text="City + ': ' + ${patientInfo.city}"></h6>
                                    </div>
                                    <div>
                                        <h6 th:text="State + ': ' + ${patientInfo.state}"></h6>
                                        <h6 th:text="Zip + ': ' + ${patientInfo.zip}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/patientProfile/{id}/edit(id=${patient.getId()})}" class="btn orange  waves-effect waves-light">Edit profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="prescrip" class="col s12">
                <h4 class="sub-title">Prescriptions</h4>

                <div class="table-radius">
                    <table class="centered responsive-table highlight">
                        <thead>
                            <tr class="white-text table-bg" style>
                                <th class="center-align">NAME</th>
                                <th class="center-align">CREATED AT</th>
                                <th class="center-align">VERIFIED</th>
                                <th class="center-align">DOCTOR</th>
                                <th class="center-align">VIEW REQUESTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="prescription : ${patient.prescriptions}" class="table-body">
                                <td th:text="${prescription.drug.drug_name}">"</td>
                                <td th:text="${prescription.created_at}">"</td>
                                <td th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></td>
                                <td th:text="${prescription.doctor.fullName}"></td>
                                <td><a class="pRequest waves-effect waves-light orange btn" th:href="@{/prescription-request/{id}(id=${prescription.id})}">Request Fill</a></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="partials/scripts :: scripts"></div>
<script>
    $(document).ready(function () {
        let msg = $("#request-message").text();

        if (msg.length) {
            alert(msg)
        }
        $('#msg').trigger('autoresize');

    })

</script>



</body>
</html>
