<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section ">
    <title>Profile Page</title>
</head>
<body>
<nav th:replace="partials/navbar02 :: navbar"></nav>
<div th:if="${requestMessage} != null" id="modal" class="modal">
    <div class="modal-content">
        <h4>Prescription Fill Request</h4>
        <p id="request-alert" th:text="${requestMessage}"></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>
<div class="container">
    <div class="profile-card">
        <div class="row">
            <div class="col s12 info">
                <div class="card horizontal rounded">
                    <div class="card-stacked">
                        <div class="profile-info">
                            <div class="card-image">
                                <h2><i class="material-icons profile-icon" style="font-size:200px">group</i></h2>
                            </div>
                            <div class="card-content">
                                <h4 class="user-full" th:text="${patient.fullName} + ' - ' + Patient"></h4>
                                <h5 th:text="${patient.username}"></h5>
                                <div class="user-info">
                                    <div>
                                        <h6 th:text="Phone + ': ' + ${patient.phone_number}"></h6>
                                        <h6 th:text="Email + ': ' + ${patient.email}"></h6>
                                    </div>
                                    <div>
                                        <h6 th:text="Address + ': ' + ${patientInfo.address}"></h6>
                                        <h6>
                                            <span th:if="${patientInfo.sex} == 'M'" th:text="Sex + ': ' + Male"></span>
                                            <span th:unless="${patientInfo.sex} == 'M'" th:text="Sex + ': ' + Female"></span>
                                        </h6>
                                    </div>
                                    <div>
                                        <h6 th:text="DOB + ': ' + ${#dates.format(patientInfo.dob, 'dd-MMM-yyyy')}"></h6>
                                        <h6 th:text="City + ': ' + ${patientInfo.city}"></h6>
                                    </div>
                                    <div>
                                        <h6 th:text="State + ': ' + ${patientInfo.state}"></h6>
                                        <h6 th:text="Zip + ': ' + ${patientInfo.zip}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/patientProfile/{id}/edit(id=${patient.getId()})}" class="btn orange  waves-effect waves-light">Edit profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="prescrip" class="col s12">
                <h4 class="sub-title">Prescriptions</h4>

                <div class="table-radius">
                    <table class="centered responsive-table highlight">
                        <thead>
                            <tr class="white-text table-bg" style>
                                <th class="center-align">NAME</th>
                                <th class="center-align">CREATED AT</th>
                                <th class="center-align">VERIFIED</th>
                                <th class="center-align">DOCTOR</th>
                                <th class="center-align"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:unless="${p.index > 4}" th:each="prescription, p : ${prescriptions}" class="table-body prescription" th:href="@{/prescription/{id}(id=${prescription.id})}">
                                <td class="link" th:text="${prescription.drug.drug_name}">"</td>
                                <td class="link" th:text="${prescription.created_at}">"</td>
                                <td class="link" th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></td>
                                <td class="link" th:text="${prescription.doctor.fullName}"></td>
                                <td>
                                    <a th:if="${@prescriptionService.fillEligible(prescription.id)}" class="pRequest waves-effect waves-light orange btn request-btn" th:href="@{/prescription-request/{id}(id=${prescription.id})}">Request Fill</a>
                                    <a th:unless="${@prescriptionService.fillEligible(prescription.id)}" class="pRequest waves-effect waves-light orange btn request-btn disabled">Request Fill</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div th:if="${#lists.size(patient.prescriptions) > 5}">
                    <br>
                    <a th:href="@{/prescription-list}" class="btn orange  waves-effect waves-light">View All Prescriptions</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="partials/scripts :: scripts"></div>
<script>
    $(document).ready(function(){
        let msg = $("#request-alert").text();

        if(msg.length){
            $('.modal').modal();
            $('.modal').modal('open');
        }

        $('.prescription').click(function () {
            window.location = $(this).attr('href');
            return false;
        });

        $(".request-btn").click(function(e){
            e.stopPropagation();
        });

    })

</script>



</body>
</html>
