<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section "></head>
<nav th:replace="partials/navbar02 :: navbar"></nav>
<body>

        <div class="valign-wrapper row">
            <div class="col s10 pull-s1 m6 pull-m3 l4 pull-l4">
                <div class="card white black-text">
                    <div class="card-content hoverable black-text">
                        <span class="card-title">Request Refill</span>
                        <form th:action="@{/prescription-request/{prescriptionId}(prescriptionId=${prescription.id})}" th:method="submit">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="note" name="note" class="materialize-textarea"></textarea>
                                    <label for="note">Request Refill</label>
                                </div>
                                <button class="btn waves-effect waves-light orange black-text right" type="submit" name="action">Send
                                    <i class="material-icons">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>







