<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head2 :: head-section2">
    <title></title>
</head>
<body>
<nav th:replace="partials/navbar02 :: navbar"></nav>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link type="text/css" rel="stylesheet" href="css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<div th:replace="partials/scripts :: scripts"></div>

<div class="container">
    <div class="section">
        <div class="row">

            <div class="col s10 m6 l4 xl3">
                <div class="card">
                    <div class="card-image">
                        <img class="circle z-depth-1" src="../img/James.png" alt="picture of James" height="200"
                             width="200">
                        <p class="center-align blue text-darken-2">James Gemes</p>
                        <div class="card-action">
                            <a class="btn-floating blue" href="https://www.linkedin.com/in/james-gemes/"
                               style="margin-right: 24px"><i class="fa fa-linkedin white-text small "></i></a>
                            <a class="btn-floating black" href="https://github.com/JamesCGemes"
                               style="margin-right: 24px"><i class="fa fa-github small "></i></a>
                            <a class="btn-floating white" href="https://codeup.com/jupiter/" style=""><img
                                    class="black-text text-darken-3 right-align" src="../img/codeupLogo.png"
                                    alt="codeup alumni portal" height="32" width="32"></a>
                        </div>
                        <div class="card-content">
                            <p>Hello, James here ,Thank you for visiting PharmHands.
                                Dedicated military veteran and professional with years of experience in technical support and customer services</p>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col s10 m6 l4 xl3">
                <div class="card">
                    <div class="card-image">
                    <img class="circle z-depth-1" src="../img/Joe.jpg" alt="picture of Joe" height="200" width="200">
                        <p class="center-align blue text-darken-2">Joe Cuthbert</p>
                        <div class="card-action">
                            <a class="btn-floating blue" href="https://www.linkedin.com/in/josiah-cuthbert/"
                               style="margin-right: 24px"><i class="fa fa-linkedin white-text small "></i></a>
                            <a class="btn-floating black" href="https://github.com/JosiahCuthbert"
                               style="margin-right: 24px"><i class="fa fa-github small "></i></a>
                            <a class="btn-floating white" href="https://codeup.com/jupiter/" style=""><img
                                    class="black-text text-darken-3 right-align" src="../img/codeupLogo.png"
                                    alt="codeup alumni portal" height="32" width="32"></a>
                        </div>
                        <div class="card-content">
                            <p>Hello, Joe here .Thank you for visiting PharmHands.
                                Curious and process-oriented developer with a background in software product management and finance.</p>
                        </div>
                    </div>
                </div>
            </div>

          <div class="col s10 m6 l4 xl3" >
              <div class="card">
                  <div class="card-image">
                    <img class="circle z-depth-1" src="../img/Jaya.jpg" alt="picture of Jaya" height="200" width="200">
                      <p class="center-align blue text-darken-2">Jaya Seyyadri</p>
                      <div class="card-action">
                          <a class="btn-floating blue" href="https://www.linkedin.com/in/jaya-seyyadri/"
                             style="margin-right: 24px"><i class="fa fa-linkedin white-text small "></i></a>
                          <a class="btn-floating black" href="https://github.com/jayaseyyadri"
                             style="margin-right: 24px"><i class="fa fa-github small "></i></a>
                          <a class="btn-floating white" href="https://codeup.com/jupiter/" style=""><img
                                  class="black-text text-darken-3 right-align" src="../img/codeupLogo.png"
                                  alt="codeup alumni portal" height="32" width="32"></a>
                      </div>
                      <div class="card-content">
                          <p>Hello, Jaya here .Thank you for visiting PharmHands.
                          A software developer, a mother,a teacher and logistics executive ,ever ready to learn new things & venture into the world of software development.</p>
                      </div>
                  </div>
              </div>
          </div>

            <div class="row">
                <div class="col s10 m6 l4 xl3">
                    <div class="card">
                        <div class="card-image">
                            <img class="circle z-depth-1" src="../img/Rod.jpeg" alt="picture of Rod" height="200"
                                 width="200">
                            <p class="center-align blue text-darken-2">Rod Sanati</p>
                            <div class="card-action">
                                <a class="btn-floating blue" href="https://www.linkedin.com/in/rod-sanati/"
                                   style="margin-right: 24px"><i class="fa fa-linkedin white-text small "></i></a>
                                <a class="btn-floating black" href="https://github.com/Rod-S"
                                   style="margin-right: 24px"><i class="fa fa-github small "></i></a>
                                <a class="btn-floating white" href="https://codeup.com/jupiter/" style=""><img
                                        class="black-text text-darken-3 right-align" src="../img/codeupLogo.png"
                                        alt="codeup alumni portal" height="32" width="32"></a>
                            </div>
                            <div class="card-content">
                                <p>Hello, Rod here. Thank you for visiting PharmHands. Full stack software developer pursuing exciting challenges within web-based applications. Completed projects and professional experience include working with front-end frameworks such as React and Vue.js and back-end development with Java SpringBoot and Express.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer orange " >
    <div class="footer-copyright">
        <div class="left-align " style="margin-left: 2px" >
            <span> © 2021 -Your health is in safe hands!</span>
        </div>

        <div class="right-align" style="margin-right: 2px">
            <a class="grey-text text-lighten-4 right-align" th:href="@{/about}"><span class="black-text" >All Rights Reserved!</span>
            </a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--    });-->
<!--</script>-->
<!--<script type="text/javascript" src="/js/rxFormValidation.js"></script>-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript" src="/js/init.js"></script>

</body>
</html>

