<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="container-full">
            <nav>
            <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons red-text">close</i>
                </div>
            </form>
            </div>
            </nav>
        </div>

<script type="text/javascript">
    $(function() {
        // $('.modal').modal();
        $("#search").autocomplete({
            source:"DrugAutocomplete",
            minLength:3

        });
    });

    function getId() {
        alert($('#aComplete').data('id'))}
</script>
</body>
</html>