<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body>
<div class="valign-wrapper row login-box ">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form>
            <div class="card-content #757575">
                <span class="card-title"> </span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="forgotPassword">Please enter your email address that you signed up with </label>
                        <input type="email" class="validate" name="email" id="forgotPassword" />
                    </div>
                </div>
            </div>
<div class="container center">
    <div class ="card-panel">
        <a class="waves-effect waves-light btn green darken-1 modal-trigger"
           href="#password-modal"Submit></a>

        <div id = "password-modal">
            <div class="modal-content"></div>
            <p>Thank you ! An email will be sent to you shortly </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Close</a>
    </div>
</div>

        </form>
    </div>
</div>
<script>

    $(document).ready(function(){

        $('.modal').modal({

                dismissible: false, // Modal cannot be closed by clicking anywhere outside

            }

        );

    })

</script>

</body>
</html>