<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<head th:replace="partials/head :: head">
    <title>Forgot Password?</title>
</head>

<body>
<nav th:replace="partials/navbar02 :: navbar"></nav>
<div class="valign-wrapper row login-box ">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4" style="margin-top: 70px">
        <form id="forgot" action="#"  th:action="@{/forgotPassword}" method="POST" th:object="${user}">
            <div class="card-content #757575">
                <span class="card-title"> </span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="forgotPassword"> </label>
                        Please enter your email address that you signed up with
                        <input th:field="*{email}" type="email" class="validate" name="email" id="forgotPassword"/>
                    </div>
                </div>
            </div>
            <div class="container">
                <a class="waves-effect waves-light btn green darken-1 modal-trigger" id="email-submit" style="margin-bottom: 30px "
                   href="#password-modal" >Submit</a>
                <a class="waves-effect waves-light btn green darken-1" style="margin-bottom: 30px "
                  th:href="@{/login}">Back to Login</a>
                <div id="password-modal" class="modal">
                    <div class="modal-content">
                        <p>Thank you ! An email will be sent to you shortly </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!"
                           class="modal-action modal-close waves-effect waves-red btn orange darken-3">Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.modal').modal({
                dismissible: false, // Modal cannot be closed by clicking anywhere outside
            }
        );
    })

</script>

</body>
</html>