<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head2 :: head-section2"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<script src="https://kit.fontawesome.com/5779c08c81.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:replace="partials/scripts :: scripts"></div>

<div id="index-banner" class="parallax-container ">
    <div class="section no-pad-bot">
        <div class="welcome container white">
            <br><br>
            <h1 class="header center black-text">Welcome to Pharm Hands</h1>
            <div class="row center">
                <h5 class="header col s12 black-text">An all-in-one pharmacy database manager for doctors, pharmacists and patients.</h5>
            </div>
            <div class="row center">
                <a href="@{/register}" id="register-button" class="btn-large waves-effect waves-light orange black-text">Register</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="top parallax"><img src="img/health.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">

                    <h2 class="center black-text"><i class="fas fa-user-md"></i></h2>
                    <h5 class="center">Doctors</h5>


                    <p class="light black-text">Write prescriptions for your patients with little to no effort. Keep track of all records within your profile dashboard.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="fas fa-prescription-bottle-alt"></i></h2>
                    <h5 class="center">Pharmacists</h5>


                    <p class="light black-text">Simple Verification and prescription fill requests from all doctors and patients.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="fas fa-users"></i></h2>
                    <h5 class="center">Patients</h5>

                    <p class="light black-text">Easily track and request refills for all your prescriptions in your patient dashboard.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/health.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 right">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>What it is</h4>
                <p class="left-align light">PharmHands is an all-in-one pharmacy database manager for doctors, pharmacists and patients. The application provides workflows for each of 3 types of users to simulate the process of receiving a prescription for a medication, having a pharmacist verify and fill the prescription and a patient being able to see their prescription ready for pickup. Using Spring Boot as our back-end framework, we are able to combine Thymeleaf HTML templates, MySQL database tables and external JavaScript to create an MVC architecture application. SendGrid is utilized for our email service and the application and database are deployed via DigitalOcean’s cloud service.

                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/health.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Company Bio</h5>
                <p class="grey-text text-lighten-4"></p>


            </div>

            <div class="col l3 s12">
                <h5 class="black-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
<!--    <div class="footer-copyright">-->
<!--        <div class="container">-->
<!--             <p class="black-text text-lighten-3"> Made by Team PharmHands</p>-->
<!--        </div>-->
<!--    </div>-->
</footer>

<!--  Scripts-->
<div th:replace="partials/scripts :: scripts"></div>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script>$(document).ready(function(){
    $('.parallax').parallax();
});</script>
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

    // $(document).ready(function (){
    //     $(".dropdown-trigger").dropdown();
    // });
</script>

</body>
</html>

