<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head2 :: head-section2"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:replace="partials/scripts :: scripts"></div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center orange-text">Welcome to Pharm Hands!</h1>
        <div class="row center">
            <h5 class="header col s12 light white-text">An all-in-one pharmacy database manager for doctors, pharmacists and patients.</h5>
        </div>
        <div class="row center">
            <a th:href="@{/register}" id="download-button" class="btn-large waves-effect waves-light orange">Register Now</a>
        </div>
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text">
                        <i style="font-size:24px" class="fa">&#xf0f0;</i></h2>
                    <h5 class="center white-text">Doctors</h5>

                    <p class="light white-text">Write prescriptions for your patients with little to no effort. Keep track of all records within your profile dashboard.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text">
                        <i style="font-size:24px" class="fa">&#xf46b;</i></h2>
                    <h5 class="center white-text">Pharmacists</h5>

                    <p class="light white-text">Simple Verification and prescription fill requests from all doctors and patients.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons" style="font-size:24px">group</i></h2>
                    <h5 class="center white-text">Patients</h5>

                    <p class="light white-text">Easily track and request refills for all your prescriptions in your patient dashboard.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>

            <div class="col l3 s12">
                <h5 class="black-text right-align">Pharm Hands On Deck:</h5>
                <ul class="right-align">
                    <li><a class="white-text" href="https://www.linkedin.com/in/josiah-cuthbert/">Josiah Cuthbert</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/rod-sanati/">Rod Sanati</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/james-gemes/">James Gemes</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/jaya-seyyadri/">Jaya Seyyadri</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!--  Scripts-->
<!--<script type="text/javascript" src="/js/rxFormValidation.js"></script>-->
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript" src="/js/init.js"></script>

</body>
</html>

