<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head">
    <title> Login</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="valign-wrapper row login-box ">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form id="login" th:action="@{/login}" method="post">
            <div class="card-content #757575">
                <span class="card-title">Sign In</span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="username">Username</label>
                        <input type="text" class="validate" name="username" id="username"/>
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Password </label>
                        <input type="password" class="validate" name="password" id="password"/>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                <input type="submit" class="btn orange  waves-effect waves-light" value="Login">
            </div>
        </form>
        <div class="card-content left-align blue-text">
        <small><a href="/forgotPassword">Forgot password ? </a></small>
        <p class="black-text">If you do not already have an account please <a href="/register">Sign Up</a></p>
        </div>

        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>