<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head2 :: head">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">

<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}">
    <title> Login</title>
</head>
<body class="img">
<nav th:replace="partials/navbar02 :: navbar"></nav>
<div class="valign-wrapper row login-box ">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form id="login" th:action="@{/login}" method="post">
            <div class="card-content #757575">
                <span class="card-title">Sign In</span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="username">Username</label>
                        <input type="text" class="validate" name="username" id="username"/>
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Password </label>
                        <input type="password" class="validate" name="password" id="password"/>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                <input type="submit" class="btn orange  waves-effect waves-light" value="Login">
            </div>
        </form>
        <div class="card-content left-align blue-text">
        <small><a href="/forgotPassword">Forgot password ? </a></small>
        <p class="black-text">If you do not already have an account please <a href="/register">Register here</a></p>
        </div>

        <div th:if="${param.error} " class="red-text">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}" class="green-text">
            You have been logged out.
        </div>
    </div>
</div>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col s12 14 offset-14">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="card-action red white-text">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3>Login Form</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-field">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="username">Username</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" class="validate" name="username" id="username"/>&ndash;&gt;-->
<!--&lt;!&ndash;                </div><br>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-field col s12">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="password">Password </label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="password" class="validate" name="password" id="password"/>&ndash;&gt;-->
<!--&lt;!&ndash;                </div><br>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-field center-align">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn-large red">Login</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div><br>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->


<!--    </div>-->
<!--</div>-->

<!--<div th:replace="partials/scripts :: scripts"></div>-->
</body>
</html>