<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section "></head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#tab1">Patient Info</a> </li>
                <li class="tab col s3>"><a href="#tab2">Messages</a> </li>
                <li class="tab col s3>"><a href="#tab3">Your Prescriptions</a> </li>
            </ul>
        </div>
        <div id="tab1" class="col s12">Patient info will display here</div>
        <div id="tab2" class="col s12">New messages will go here</div>
        <div id="tab3" class="col s12">List of current prescriptions</div>

    </div>





<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>
