<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section">
    <title>Create Prescription</title>
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>

<div class="valign-wrapper row login-box ">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form th:action="@{/doctorProfile/prescription-create}" method="POST">
            <div class="card-content #757575">
                <span class="card-title">Patient Information</span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="name">Name</label>
                        <input type="text" class="validate" name="name" id="name"/>
                    </div>
                    <div class="input-field col s12">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" class="validate" name="phone_number" id="phone_number"/>
                    </div>
                </div>
                <div class="row" th:object="${prescription}">

                    <div class="card-content #757575">
                        <span class="card-title">Prescription Information</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="drugName">Drug Name</label>
                                <input type="text" class="validate" name="drugName" id="drugName"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="drug_form">Form</label>
                                <input type="text" class="validate" th:field="*{drug_form}" name="drug_form"
                                       id="drug_form"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="drug_strength">Strength (mg)</label>
                                <input type="text" class="validate" th:field="*{drug_Strength}" name="drug_strength"
                                       id="drug_strength"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="sig">Directions</label>
                                <input type="text" class="validate" th:field="*{sig}" name="sig" id="sig"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="dose">Dose</label>
                                <input type="text" class="validate" th:field="*{dose}" name="dose" id="dose"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="quantity">Quantity</label>
                                <input type="text" class="validate" th:field="*{quantity}" name="quantity"
                                       id="quantity"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="days_supply">Days Supply</label>
                                <input type="text" class="validate" th:field="*{days_supply}" name="days_supply"
                                       id="days_supply"/>
                            </div>
                            <div class="input-field col s12">
                                <label for="drugRefills">Refills</label>
                                <input type="text" class="validate" th:field="*{refill_count}" name="drugRefills"
                                       id="drugRefills"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <input type="button" id="backToProfile" class="btn-flat grey-text waves-effect"><a href="/profile">Go
                Back</a>
                <input type="submit" class="btn orange  waves-effect waves-light" value="Submit Prescription">
            </div>
        </form>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
<!--<script type="text/javascript" src="/js/rxFormValidation.js"></script>-->
</body>
</html>