<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section ">
    <title>View Single Prescription</title>
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>
<div class="contanier">

    <div class="row">

        <div class="col s12 m6">
            <div class="card #ffffff white">
                <div class="card-content black-text">
                    <span class="card-title center-align">Prescription</span>
                    <hr>
                    <h5 th:text="${prescription.drug.drug_name}"></h5>
                    <p th:text="${prescription.patient.full_name}"></p>
                    <hr>
                    <br>
                    <label for="verified">Verified</label>
                    <p id="verified" th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></p>
                    <hr>
                    <br>
                    <label for="created">Created At</label>
                    <p id="created" th:text="${prescription.created_at}"></p>
                    <hr>
                    <br>
                    <label for="days_supply">Days Supply</label>
                    <p id="days_supply" th:text="${prescription.days_supply}"></p>
                    <hr>
                    <br>
                    <label for="dose">Dose</label>
                    <p id="dose" th:text="${prescription.dose}"></p>
                    <hr>
                    <br>
                    <label for="quantity">Quantity</label>
                    <p id="quantity" th:text="${prescription.quantity}"></p>
                    <hr>
                    <br>
                    <label for="drug_form">Form</label>
                    <p id="drug_form" th:text="${prescription.drug_form}"></p>
                    <hr>
                    <br>
                    <label for="sig">Sig</label>
                    <p id="sig" th:text="${prescription.sig}"></p>
                    <hr>
                    <br>
                    <label for="strength">Strength</label>
                    <p id="strength" th:text="${prescription.drug_Strength}"></p>
                    <hr>
                </div>

            </div>
        </div>
        <div class="col s12 m6">
            <div class="card #ffffff white">
                <div class="card-content black-text">
                    <span class="card-title center-align">Fills table</span>
                    <hr>

                    <table class="responsive-table striped #757575 grey darken-1">
                        <tr>
                            <th>Prescription Id</th>
                            <th>Prescription name</th>
                            <th>Patient</th>
                            <th>Current fill number</th>
                            <th>Doctor</th>
                        </tr>
                        <tr class="prescription" th:href="@{/prescription/{id}(id=${prescription.id})}">
                            <td th:text="${prescription.drug.drug_name}"></td>
                            <td th:text="${prescription.created_at}">"</td>
                            <td th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></td>
                            <td th:text="${prescription.patient.full_name}"></td>
                            <td th:text="${prescription.doctor.id}"></td>
                        </tr>
                    </table>
                    <hr>
                    <div th:if="${prescription.is_verified} == 0">
                        <form th:action="@{/prescription/{id}/verify(id=${prescription.id})}" method="post">
                            <button class="btn orange waves-effect waves-light" type="submit">Verify Prescription</button>
                            <form th:action="@{/prescription/{id}/verifyAndFill(id=${prescription.id})}" method="post">
                                <button class="btn orange waves-effect waves-light right" type="submit">Verify and Fill Prescription</button>
                            </form>
                        </form>
                    </div>
                    <div th:unless="${prescription.is_verified} == 0">
                        <form th:action="@{/prescription/{id}/fill(id=${prescription.id})}" method="post">
                            <button class="btn orange waves-effect waves-light" type="submit">Fill Prescription</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>








<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>











