<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head-section ">
    <title>View Single Prescription</title>
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>
<div id="fill-alert" th:if="${fillMessage} != null" th:text="${fillMessage}" style="display: none"></div>
<div class="container">

    <div class="row">

        <div class="col s12 m6">
            <div class="card #ffffff white">
                <div class="card-content black-text">
                    <span class="card-title center-align">Prescription</span>
                    <hr>
                    <h5 th:text="${prescription.drug.drug_name}"></h5>
                    <br>
                    <p th:text="${prescription.patient.fullName}"></p>
                    <hr>
                    <br>
                    <label for="verified">Verified</label>
                    <p id="verified" th:text="${prescription.is_verified} ? 'Verified' : 'Not Verified'"></p>
                    <hr>
                    <br>
                    <label for="created">Created At</label>
                    <p id="created" th:text="${prescription.created_at}"></p>
                    <hr>
                    <br>
                    <label for="days_supply">Days Supply</label>
                    <p id="days_supply" th:text="${prescription.days_supply}"></p>
                    <hr>
                    <br>
                    <label for="dose">Dose</label>
                    <p id="dose" th:text="${prescription.dose}"></p>
                    <hr>
                    <br>
                    <label for="quantity">Quantity</label>
                    <p id="quantity" th:text="${prescription.quantity}"></p>
                    <hr>
                    <br>
                    <label for="drug_form">Form</label>
                    <p id="drug_form" th:text="${prescription.drug_form}"></p>
                    <hr>
                    <br>
                    <label for="sig">Directions</label>
                    <p id="sig" th:text="${prescription.sig}"></p>
                    <hr>
                    <br>
                    <label for="strength">Strength</label>
                    <p id="strength" th:text="${prescription.drug_Strength}"></p>
                    <hr>
                </div>

            </div>
        </div>
        <div class="col s12 m6">
            <div class="card #ffffff white">
                <div class="card-content black-text">
                    <span class="card-title center-align">Fills</span>
                    <hr>
                        <table class="centered responsive-table">
                            <thead>
                                <tr class="white-text table-bg" style>
                                    <th class="center-align">DRUG</th>
                                    <th class="center-align">FILL DATE</th>
                                    <th class="center-align">FILL NUMBER</th>
                                    <th class="center-align">PATIENT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="fill : ${prescription.fills}" class="prescription table-body" th:href="@{/prescription/{id}(id=${prescription.id})}">
                                    <td th:text="${fill.prescription.drug.drug_name}"></td>
                                    <td th:text="${fill.fill_date}">"</td>
                                    <td th:text="${fill.fill_number}"></td>
                                    <td th:text="${fill.prescription.patient.fullName}"></td>
                                </tr>
                            </tbody>
                        </table>
                    <hr>


                    <div th:if="${user.role.role_name} == ROLE_PHARMACIST">
                        <div id="verify-form" th:if="${prescription.is_verified} == 0">
                            <form th:action="@{/prescription/{id}/verify(id=${prescription.id})}" method="post">
                                <button class="btn orange waves-effect waves-light" type="submit">Verify Prescription</button>
                            </form>
                            <form th:action="@{/prescription/{id}/verifyAndFill(id=${prescription.id})}" method="post">
                                <button class="btn orange waves-effect waves-light right" type="submit">Verify and Fill Prescription</button>
                            </form>
                        </div>
                        <div th:unless="${prescription.is_verified} == 0">
                            <form th:action="@{/prescription/{id}/fill(id=${prescription.id})}" method="post">
                                <button class="btn orange waves-effect waves-light" type="submit">Fill Prescription</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
<script>
    $(document).ready(function(){
        let msg = $("#fill-alert").text();

        if(msg.length){
            alert(msg)
        }
    })
</script>
</body>
</html>











