<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head">
    <title>Register</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="valign-wrapper row login-box ">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form>
            <div class="card-content #757575">
                <span class="card-title">Register</span>
                <p>Before continuing please select who to register from the menu below. After you have selected you will
                    be taken to the appropriate registration form.</p>
                <div class="row">

                    <div class="input-field col s12">
                        <label style="width: 100%"><select id="user-picked" >
                            <option value="disabled selected" > Register as: </option>
                            <option value="1">Patient</option>
                            <option value="2">Pharmacist</option>
                            <option value="3">Doctor</option>
                        </select>
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <p>If you already have an account please <a href="/login">Sign In</a></p>
    </div>
</div>


<div th:replace="partials/scripts :: scripts"></div>

</body>
</html>