<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar">
    <div class="nav-wrapper grey darken-1">
        <div class="container">
            <a href="#!" class="brand-logo left-align"></a> <img src="../../img/Pharm-Hands-clear.png" width="150" height="60">
            <ul  id="slide-out" class="sidenav">

                <ul sec:authorize="isAuthenticated()">
                    <li th:if="${user} != null">
                        <a th:if="${user.getRole().getId()} == 1" th:href="@{/doctorProfile/{id}(id=${user.getId()})}">
<!--                        <a th:href="@{/doctorProfile/{id}(id=${user.getId()})}">-->
                            <span th:text="|${user.getUsername()}''s Profile|"></span>
                        </a>
<!--                        <a th:href="@{/pharmacistProfile/{id}(id=${user.getId()})}">-->
                        <a th:if="${user.getRole().getId()} == 3" th:href="@{/pharmacistProfile/{id}(id=${user.getId()})}">
                            <span th:text="|${user.getUsername()}''s Profile|"></span>
                        </a>
<!--                        <a th:href="@{/patientProfile/{id}(id=${user.getId()})}">-->
                        <a th:if="${user.getRole().getId()} == 2" th:href="@{/patientProfile/{id}(id=${user.getId()})}">
                            <span th:text="|${user.getUsername()}''s Profile|"></span>
                        </a>
                    </li>

                </ul>
                <ul sec:authorize="!isAuthenticated()">
                    <li><a href="/login">Login</a></li>
                </ul>
                <ul sec:authorize="!isAuthenticated()">
                    <li><a href="/register">Register</a></li>
                </ul>
                <ul sec:authorize="isAuthenticated()">
                    <li>
                        <form th:action="@{/logout}" th:method="post" th:hidden="true" name="logoutForm">
                            <input type="submit" value="Logout"/>
                        </form>
                        <a href="javascript: document.logoutForm.submit()">Logout</a>
                    </li>
                </ul>
            </ul>



            <a href="#" data-target="slide-out" class=" sidenav-trigger button-collapse show-on-medium-and-up"><i class="material-icons">menu</i></a>

        </div>
    </div>
</nav>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"> //xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Navbar</title>-->
<!--</head>-->
<!--<body>-->
<!--<nav th:fragment="navbar">-->
<!--    <div class="nav-wrapper grey darken-1">-->
<!--        <div class="container">-->
<!--            <a href="#!" class="brand-logo left-align"></a> <img src="../img/Pharm-Hands-clear.png" width="150" height="60">-->
<!--            <ul  id="slide-out" class="sidenav">-->

<!--                &lt;!&ndash;                <ul sec:authorize="!isAuthenticated()">&ndash;&gt;-->
<!--                <ul>-->
<!--                    <li><a href="/login">Login</a></li>-->
<!--                </ul>-->

<!--                &lt;!&ndash;                <ul sec:authorize="!isAuthenticated()">&ndash;&gt;-->
<!--                <ul>-->
<!--                    <li><a href="/register">Register</a></li>-->
<!--                </ul>-->


<!--                &lt;!&ndash;                <ul sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <form th:action="@{/logout}" th:method="post" th:hidden="true" name="logoutForm">-->
<!--                            <input type="submit" value="Logout"/>-->
<!--                        </form>-->
<!--                        <a href="javascript: document.logoutForm.submit()">Logout</a>-->
<!--                    </li>-->
<!--                </ul>-->

<!--            </ul>-->



<!--            <a href="#" data-target="slide-out" class=" sidenav-trigger button-collapse show-on-medium-and-up"><i class="material-icons">menu</i></a>-->

<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--</body>-->
<!--</html>-->