<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
        <section th:fragment="navbar" >
        <nav >
            <div class="nav-wrapper">

                <ul class="hide-on-med-and-down left-align"sec:authorize="isAuthenticated()">
                    <li>
                <a th:href="@{/}" class="brand-logo><img src="../../img/newblue.png" width="150" height="55"></a>
                    </li>
                    <li>
                        <a th:href="@{/}">
                            <span th:text="Home"></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            <span th:text="About"></span>
                        </a>
                    </li>
                </ul>






                <ul class="hide-on-med-and-down right" sec:authorize="isAuthenticated()">
                    <li>
                        <form th:action="@{/logout}" th:method="post" th:hidden="true" name="logoutForm">
                            <input type="submit" value="Logout"/>
                        </form>
                        <a href="javascript: document.logoutForm.submit()">Logout</a>
                    </li>
                </ul>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons orange-text">menu</i></a>
                        <!--  Desktop view -->

                <ul class="hide-on-med-and-down right" sec:authorize="isAuthenticated()" >
                    <li th:if="${user} != null">
                        <a th:if="${user.getRole().getId()} == 1" th:href="@{/doctorProfile/{id}(id=${user.getId()})}">
                            <span th:text="|${user.getUsername()}'s Profile|"></span>
                        </a>
                        <a th:if="${user.getRole().getId()} == 3" th:href="@{/pharmacistProfile/{id}(id=${user.getId()})}">
                            <span th:text="|${user.getUsername()}'s Profile|"></span>
                        </a>
                        <a th:if="${user.getRole().getId()} == 2" th:href="@{/patientProfile/{id}(id=${user.getId()})}">
                            <span th:text="|${user.getUsername()}'s Profile|"></span>
                        </a>
                    </li>
                </ul>
<!--                <ul class="hide-on-med-and-down left-align"sec:authorize="isAuthenticated()">-->
<!--                    <li>-->
<!--                        <a th:href="@{/}">-->
<!--                            <span th:text="Home"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a th:href="@{/about}">-->
<!--                            <span th:text="About"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
                <ul class="hide-on-med-and-down right" sec:authorize="!isAuthenticated()">
                    <li><a href="/login">Login</a></li>
                </ul>
                <ul class="hide-on-med-and-down right" sec:authorize="!isAuthenticated()">
                    <li><a href="/register">Register</a></li>
                </ul>
<!--                <ul class="hide-on-med-and-down right" sec:authorize="isAuthenticated()">-->
<!--                    <li>-->
<!--                        <form th:action="@{/logout}" th:method="post" th:hidden="true" name="logoutForm">-->
<!--                            <input type="submit" value="Logout"/>-->
<!--                        </form>-->
<!--                        <a href="javascript: document.logoutForm.submit()">Logout</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </nav>
        <!--Side nav for mobile view-->
        <ul class="sidenav right" id="mobile-demo">
            <ul sec:authorize="isAuthenticated()">
                <li th:if="${user} != null">
                    <a th:if="${user.getRole().getId()} == 1" th:href="@{/doctorProfile/{id}(id=${user.getId()})}">
                        <!--                        <a th:href="@{/doctorProfile/{id}(id=${user.getId()})}">-->
                        <span th:text="|${user.getUsername()}'s Profile|"></span>
                    </a>
                    <!--                        <a th:href="@{/pharmacistProfile/{id}(id=${user.getId()})}">-->
                    <a th:if="${user.getRole().getId()} == 3" th:href="@{/pharmacistProfile/{id}(id=${user.getId()})}">
                        <span th:text="|${user.getUsername()}'s Profile|"></span>
                    </a>
                    <!--                        <a th:href="@{/patientProfile/{id}(id=${user.getId()})}">-->
                    <a th:if="${user.getRole().getId()} == 2" th:href="@{/patientProfile/{id}(id=${user.getId()})}">
                        <span th:text="|${user.getUsername()}'s Profile|"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/}">
                        <span th:text="Home"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/about}">
                        <span th:text="About"></span>
                    </a>
                </li>
            </ul>

            <ul sec:authorize="!isAuthenticated()">
                <li><a href="/login">Login</a></li>
            </ul>
            <ul sec:authorize="!isAuthenticated()">
                <li><a href="/register">Register</a></li>
            </ul>
            <ul sec:authorize="isAuthenticated()">
                <li>
                    <form th:action="@{/logout}" th:method="post" th:hidden="true" name="hambuger">
                        <input type="submit" value="Logout"/>
                    </form>
                    <a href="javascript: document.hambuger.submit()">Logout</a>
                </li>
            </ul>
        </ul>

        </section>





</body>
</html>


