
@media screen and (max-width: 670px){
    header{
        min-height: 150px;
    }
}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.icon-black{
    color: black;
}
/*body{*/
/*    background-color: #004181 ;*/
/*}*/

body{
    font-family: "Roboto";
}

body {
    background: url(static/img/pexels-alexandros-chatzidimos-3652750.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

/*body {*/
/*    display: flex;*/
/*    min-height: 100vh;*/
/*    flex-direction: column;*/
/*}*/

/*main {*/
/*    flex: 1 0 auto;*/
/*}*/